<div class="patient-page">
  <div class="table-area">

    <div class="inputs-area">
      <div class="filter">
        <span class="filter-text"><i class="ph ph-faders-horizontal"></i>FILTER</span>
      </div>
      <div class="name-and-lastname">
        <div class="name-input" >
          <span>Name</span>
          <input #inputName type="text" placeholder="Write here">
        </div>
        <div class="last-name-input">
          <span>Last Name</span>
          <input #inputLastName type="text" placeholder="Write here">
        </div>
      </div>
      <div class="email-and-cpf">
        <div class="input-cpf">
          <span>CPF</span>
          <input #inputCPF type="text" placeholder="Write here">
        </div>
        <div class="email-input">
          <span>Email</span>
          <input #inputEmail type="email" placeholder="Write here">
        </div>
      </div>
      <div class="filter-actions">
        <div class="filter-clean">
          <button class="btn-filter" (click)="filterList(inputName, inputLastName, inputCPF, inputEmail)"><i class="ph ph-funnel"></i>FILTER</button>
          <button class="btn-clean" (click)="cleanInput(inputName, inputLastName, inputCPF, inputEmail)"><i class="ph ph-broom"></i>CLEAN</button>
        </div>
      </div>
    </div>
    <div class="table-area-container">
      <div class="table-header-container">
        <div class="header-text">
          <span><i class="ph ph-user-list"></i>PATIENTS</span>
        </div>
        <div class="create-delete">
          <button class="btn-create"><i class="ph ph-plus-circle"></i>CREATE </button>
        </div>
      </div>
      <div class="table-content-container">
        <div class="table-content">
          <table>
            <thead>
            <tr>
              <th>NAME</th>
              <th>LAST N.</th>
              <th>EMAIL</th>
              <th>CPF</th>
              <th class="th-actions">ACTIONS</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of paginatedResponse.content">
              <td class="table-row">{{ item.name }}</td>
              <td class="table-row">{{ item.lastName }}</td>
              <td class="table-row" style="word-wrap: break-word;">{{ item.email }}</td>
              <td class="td-cpf table-row">{{ item.cpf }}</td>
              <td class="td-actions">
                <span>
                  <i class="ph ph-eye" (click)="showDetails(item)"></i>
                  <i class="ph ph-pencil-simple" (click)="showEdit(item)"></i>
                  <i class="ph ph-minus-circle" (click)="showPopup(); selectedPatient = item"></i>
                </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="detailsVisible" class="details">
  <div class="details-inner">
    <div class="close-container">
      <span>Details</span>
      <i class="ph ph-x" (click)="closeDetails()"></i>
    </div>
    <div class="body-container">
      <div class="detail-name-lastname">
        <div class="detail-field">
          <span class="detail-title">Name</span>
          <span> {{ selectedPatient.name }} </span>
        </div>

        <div class="detail-field">
          <span class="detail-title">Last N.</span>
          <span> {{ selectedPatient.lastName }} </span>
        </div>
      </div>

      <div class="detail-field">
        <span class="detail-title">Email</span>
        <span> {{ selectedPatient.email }} </span>
      </div>

      <div class="detail-field">
        <span class="detail-title">BirthDate</span>
        <span> {{ selectedPatient.birthDateView | date }} </span>
      </div>

      <div class="detail-field">
        <span class="detail-title">Phone</span>
        <span> {{selectedPatient.phone}} </span>
      </div>

      <div class="detail-field">
        <span class="detail-title">Cpf</span>
        <span> {{ selectedPatient.cpf }} </span>
      </div>

      <div class="detail-field">
        <span class="detail-title">Create At.</span>
        <span> {{ selectedPatient.createAtView | date }} </span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="editVisible" class="details">
  <div class="details-inner">
    <div class="close-container">
      <span>Edit</span>
      <i class="ph ph-x" (click)="closeEdit()"></i>
    </div>
    <div class="edit-input-container">
      <div class="edit-field">
        <span class="detail-title">Name</span>
        <input type="text" placeholder="{{getDetailData().name}}">
      </div>
      <div class="edit-field">
        <span class="detail-title">Last N.</span>
        <input type="text" placeholder="{{getDetailData().lastName}}">
      </div>
      <div class="edit-field">
        <span class="detail-title">Email</span>
        <input type="text" placeholder="{{getDetailData().email}}">
      </div>
      <div class="edit-field">
        <span class="detail-title">Phone</span>
        <input type="text" placeholder="{{getDetailData().phone}}" >
      </div>

      <div class="edit-field">
        <span class="detail-title">BirthDate</span>
        <input type="date" [max]="minDate" [min]="maxDate">
      </div>
    </div>
    <div>
      <button>EDIT</button>
    </div>
  </div>

</div>


<app-confirm-popup #popupRef (confirm)="handleConfirmation($event)" message="Are you sure?"></app-confirm-popup>

