@import "../../../styles/mixins";


.therapies-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  .table-area {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .inputs-area {
      margin-top: 6vh;
      display: flex;
      width: 80%;
      background-color: #f5f3f3;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 5vh;
      flex-direction: column;
      height: auto;
      justify-content: space-around;
      border-radius: 4px;

      .filter-area-header {
        margin-top: 2vh;
        margin-bottom: 2vh;
        margin-left: 1vw;
        width: 100%;
        display: flex;
        justify-content: left;

        .filter-text {
          font-size: 18px;
          color: #39425D;
          i{
            padding-right: 2px;
            font-weight: bold;
            color: #39425D;
          }
        }
      }

      .filter-selects{
        display: flex;
        flex-direction: column;
        gap: 18px;

        .patient-psychologist, .status-date{
          display: flex;
          justify-content: space-around;
          gap: 5%;
          .select-field{
            display: flex;
            flex-direction: column;
            width: 40%;

            span{
              color: #37435D;
            }

            .select-status{
              height: 38px;
              background-color: #D5D5D5;
              color: #37435D;
              border: none;
              border-radius: 4px;
              padding-left: 5px;
            }
          }
        }


      }
      .filter-actions-container{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        gap: 2vh;
        margin-right: 1.3vw;
        .filter-actions{
          display: flex;
          width: 100%;
          justify-content: flex-end;
          gap: 2vh;
          margin-right: 1.3vw
        }
      }

    }

    .table-area-container{
      overflow: hidden;
      display: flex;
      flex-direction: column;
      width: 80%;
      background-color: #f5f3f3;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      height: 60vh;

      .table-header-container{
        display: flex;
        flex-direction: row;
        margin: 2vh 1.3vw 2vh 1vw;
        justify-content: space-between;
        align-items: center;

        .header-actions{
          display: flex;
          gap: 3%;
          width: 100%;
          align-items: center;
          justify-content: flex-end;
        }
      }


    }

    .table-content-container{
      display: flex;
      justify-content: center;
      overflow: auto;
      flex-direction: column;
      align-items: center;
      .table-content {
       @include table-style;
      }
    }

  }
}





.btn-create, .btn-clean, .btn-filter, .btn-edit{
  @include button-style;
  i{
    vertical-align: -0.1vh;
    margin-right: 3px;
  }

  &:active{
    background-color: #6f78ab;
    color: #e0e0e0;
  }
}



.field{
  width: 100%;
  display: flex;
  flex-direction: column;

  input {
    @include input-style;
  }
}

.edit-field{
  width: auto;
}

.filter-actions-container {
  display: flex;
  flex-direction: row;

  margin-top: 2vh;
  margin-bottom: 2vh;
}


@media screen and (max-width: 600px) {
  .patient-page {
    flex-direction: column;
    .inputs-area{
      width: 90%;
    }

    .table-area-container{
      width: 90%;
    }


  }

  .inputs-area {
    min-width: 300px;
  }
}





.table-container-title{
  color: #39425e;
}



table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px;
  word-wrap: break-word;
}

td{
  max-width: 120px;
  color: #8E8E95;
}

th {
  background-color: #E8E8EA;
  color: #37435D;
  position: sticky;
  top: 0;
}


.details-window, .create-window, .edit-window{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .details-container, .create-container, .edit-container {
    color: #39425e;
    background-color: #f5f2f2;
    padding: 20px;
    width: 30vw;
    height: auto;
    min-width: 250px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    @media screen and (max-width: 600px){
      width: 60vw;
    }
  }
}

.details-content{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2vh;
  align-items: center;

  .patient-psychologist-fields{
    display: flex;
    width: 90%;
    gap: 10px;
  }

  .field{
    display: flex;
    flex-direction: column;
    background-color: #e1e1e1;
    width: 90%;
    border: solid 1px #b2b3c0;
    border-radius: 4px;
    padding: 5px;
    span{
      color: #39425d;
      font-size: 14px;
    }

    .field-title{
      font-size: 12px;
      color: #8589a1;
    }

  }
}

.edit-form, .create-form{
  display: flex;
  width: 90%;
  flex-direction: column;
  gap: 10px;
}

.edit-form, .details-content{
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #c4c4c4;
  }
}

.edit-actions{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


.create-form{
  .patient-psychologist-fields{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  gap: 10px;
}




.default-select{
  height: 38px;
  background-color: #e8e8e8;
  border: #3c4868 solid 1px;
  border-radius: 5px
}

.details-container-header, .create-container-header, .edit-container-header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2vh;
}



:host ::ng-deep{
  .p-inputtext {
    background-color: #e8e8e8;
    border: #3c4868 solid 1px;
    height: 38px;
    border-radius: 5px;
    padding-left: 5px;
    box-shadow: none;
  }
  .p-calendar {
    width: 100%;
  }

  .p-autocomplete-panel{
    padding-left: 5px;
    background-color: #e8e8e8;
  }

  .p-autocomplete, .p-autocomplete-input{
    width: 100%;
  }

  .p-paginator {
    background-color: #f5f3f3;
  }

  .p-highlight{
    background-color: #d9d8d8;
    color: #39425e;
  }

  .p-paginator-pages{
    .p-paginator-page{
      min-width: 1.6rem;
      height: 1.6rem;
    }
  }

}


