<div class="therapies-page">
  <div class="table-area" *ngIf="responseTherapy">

    <div class="inputs-area" >
      <div class="filter-area-header">
        <span class="filter-text"><i class="ph ph-faders-horizontal"></i>FILTER</span>
      </div>
      <div class="filter-selects" >
        <div class="patient-psychologist">
          <div class="select-field">
            <span>Psychologist</span>
            <p-autoComplete [(ngModel)]="selectedPsychologist" [suggestions]="responsePsychologist.content" (completeMethod)="getPsychologistFiltered($event)" field="name" placeholder="psychologist name"></p-autoComplete>

          </div>
          <div class="select-field">
            <span>Patient</span>
            <p-autoComplete [(ngModel)]="selectedPatient" [suggestions]="responsePatient.content" (completeMethod)="getPatientsFiltered($event)" field="name" placeholder="patient name"></p-autoComplete>
          </div>
        </div>
        <div class="status-date">
          <div class="select-field">
            <span>Status</span>
            <select [(ngModel)]="selectedStatus" class="select-status">
              <option value="">All</option>
              <option value='WAIT_DATE'>Wait Date</option>
              <option value='WAIT_CONFIRMATION'>Wait Confirmation</option>
              <option value='FINISH'>Finish</option>
              <option value='CANCELED'>Canceled</option>
            </select>
          </div>
          <div class="select-field">
            <span>Date Range</span>
            <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"></p-calendar>
          </div>
        </div>
      </div>
      <div class="filter-actions-container">
        <div class="filter-actions">
          <button class="btn-filter" (click)="filterList(0, 10)"><i class="ph ph-funnel"></i>FILTER</button>
          <button class="btn-clean" (click)="getTherapiesData(0, 10)"><i class="ph ph-broom"></i>CLEAN</button>
        </div>
      </div>
    </div>
    <div class="table-area-container">
      <div class="table-header-container">
        <div class="header-text">
          <span><i class="ph ph-user-list"></i>THERAPIES</span>
        </div>
        <div class="header-actions">
          <div class="create-delete">
            <button class="btn-create" (click)="toggleCreate()"><i class="ph ph-plus-circle"></i>CREATE </button>
          </div>
        </div>
      </div>
      <div class="table-content-container">
        <div class="table-content">
          <table>
            <thead>
            <tr>
              <th>Psychologist</th>
              <th>Patient</th>
              <th>Date</th>
              <th>Status</th>
              <th class="th-actions">ACTIONS</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of responseTherapy?.content">
              <td class="table-row" >{{ item.psychologist.name | titlecase }}</td>
              <td class="table-row" style="word-wrap: break-word;">{{ item.patient.name | titlecase }}</td>
              <td class="table-row" style="word-wrap: break-word;">{{ item.dateTime | date:'short' }}</td>
              <td class="table-row" style="word-wrap: break-word;">{{ item.status }}</td>
              <td class="td-actions">
                <span>
                  <i class="ph ph-eye" (click)="toggleDetails(); selectedTherapy = item"></i>
                  <i class="ph ph-pencil-simple" (click)="toggleEdit(); selectedTherapy = item" *ngIf="item.status == 'WAIT_CONFIRMATION'"></i>
                  <i class="ph ph-minus-circle"></i>
                </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <p-paginator *ngIf="responseTherapy"
                     [first]="0"
                     [rows]="responseTherapy.size"
                     [totalRecords]="responseTherapy.totalElements"
                     (onPageChange)="filtered ? filterList($event.page!, 10) : getTherapiesData($event.page!, 10)"
        ></p-paginator>
      </div>
    </div>
  </div>
</div>

<div class="create-window" *ngIf="createVisible">
  <div class="create-container">
    <div class="create-container-header">
      <span>Create</span>
      <i class="ph ph-x" (click)="closeCard()" style="cursor: pointer"></i>
    </div>
    <form class="create-form" [formGroup]="createForm" (ngSubmit)="createTherapy()">
      <div class="field patient">
        <span class="detail-title">Patient</span>
        <p-autoComplete [suggestions]="responsePatient.content"
                        (completeMethod)="getPatientsFiltered($event)"
                        field="name"
                        placeholder="patient name"
                        formControlName="cpfPatient">
        </p-autoComplete>
      </div>

      <div class="field psychologist">
        <span class="detail-title">Psychologist</span>
        <p-autoComplete [suggestions]="responsePsychologist.content"
                        (completeMethod)="getPsychologistFiltered($event)"
                        field="name"
                        placeholder="psychologist name"
                        formControlName="crpPsychologist">
        </p-autoComplete>
      </div>

      <div class="field date">
        <span class="detail-title">Date</span>
        <p-calendar [showTime]="true" formControlName="dateTime" [disabledDays]="[0,6]" [minDate]="minDate" [stepMinute]="15" [defaultDate]="minDate"></p-calendar>
      </div>
      <div class="edit-actions">
        <button class="btn-edit" type="submit">CREATE</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="detailsVisible" class="details-window">
  <div class="details-container">
    <div class="details-container-header">
      <span>Details</span>
      <i class="ph ph-x" (click)="closeCard()" style="cursor: pointer"></i>
    </div>
    <div class="details-content">
      <div class="patient-psychologist-fields">
        <div class="patient field">
          <span class="detail-title">Patient</span>
          <span> {{ selectedTherapy.patient.name }} <i class="ph ph-eye"></i></span>
        </div>

        <div class="psychologist field">
          <span class="detail-title">Psychologist</span>
          <span> {{ selectedTherapy.psychologist.name }} <i class="ph ph-eye"></i></span>
        </div>
      </div>

      <div class="field date">
        <span class="detail-title">Date</span>
        <span> {{ selectedTherapy.dateTime | date:'short' }} </span>
      </div>

      <div class="field createAt">
        <span class="detail-title">Create at.</span>
        <span> {{ selectedTherapy.createAt | date:'short' }} </span>
      </div>
    </div>
  </div>
</div>


<div class="edit-window" *ngIf="editVisible">
  <div class="edit-container">
    <div class="edit-container-header">
      <span>Edit</span>
      <i class="ph ph-x" (click)="closeCard()" style="cursor: pointer"></i>
    </div>
    <form class="edit-form" [formGroup]="createForm" (ngSubmit)="editTherapy()">
      <div class="field patient">
        <span class="field-title">Patient</span>
        <input type="text" disabled placeholder="{{selectedTherapy.patient.name}}">
      </div>

      <div class="field psychologist">
        <span class="field-title">Psychologist</span>
        <input type="text" disabled placeholder="{{selectedTherapy.psychologist.name}}">
      </div>

      <div class="field date">
        <span class="detail-title">Date</span>
        <p-calendar [showTime]="true" formControlName="dateTime" [disabledDays]="[0,6]" [minDate]="minDate" [stepMinute]="15" [defaultDate]="minDate"></p-calendar>
      </div>
      <div class="edit-actions">
        <button class="btn-edit" type="submit">EDIT</button>
      </div>
    </form>
  </div>
</div>

